{% extends '../base.html' %}

{% block css_link %}

<link href="/static/css/user/sign.css" rel="stylesheet" type="text/css">

{% endblock %}

{% block contents %}
<script src='/static/javascript/user/sign_agree.js'></script>

                <div class = 'big_box'>
                    <form action="/sign_form" method="get" id="form1">
                    
                        <div class="title_box">
                            <a href = '/'><img src = '/static/images/real_title.png' style="width: 100%; height: 100%;"></a>
                        </div>
                     
                        <p>
                            <div class="terms_box_title" >
                                <label>
                                    <input type="checkbox" name="all" id="all">
                                    서비스 이용약관, 개인정보 수집 및 이용, 개인정보 제3자제공 및 추가제공 동의에 모두 동의합니다.
                                </label>
                            </div>
                            
                        </p>

                        <p>
                            <div class="terms_box_title" >
                                <label>
                                    <input type="checkbox" name="c1" id="c1"> 서비스 이용 약관 동의
                                </label>
                            </div>
                            
                            <div class="terms_box">
                                제1조(개인정보의 처리 목적)<br>
                                <br>
                                < (설립전 예상명칭)불로장생 >('개설전'이하 '약장수_ai/cloud 어플리케이션')은(는) 다음의 목적을 위하여 개인정보를 처리합니다. 처리하고 있는 개인정보는 다음의 목적 이외의 용도로는 이용되지 않으며 이용 목적이 변경되는 경우에는 「개인정보 보호법」 제18조에 따라 별도의 동의를 받는 등 필요한 조치를 이행할 예정입니다.<br>
                                1. 홈페이지 회원가입 및 관리<br>
                                회원 가입의사 확인, 회원제 서비스 제공에 따른 본인 식별·인증, 회원자격 유지·관리, 서비스 부정이용 방지, 만14세 미만 아동의 개인정보 처리 시 법정대리인의 동의여부 확인 목적으로 개인정보를 처리합니다.<br>
                                <br>
                                2. 재화 또는 서비스 제공<br>
                                서비스 제공, 맞춤서비스 제공, 본인인증, 연령인증을 목적으로 개인정보를 처리합니다.<br>
                                <br>
                                3. 마케팅 및 광고에의 활용<br>
                                신규 서비스(제품) 개발 및 맞춤 서비스 제공, 이벤트 및 광고성 정보 제공 및 참여기회 제공 , 인구통계학적 특성에 따른 서비스 제공 및 광고 게재 , 접속빈도 파악 또는 회원의 서비스 이용에 대한 통계 등을 목적으로 개인정보를 처리합니다.<br>
                                <br>
                                6. 기타<br>
                                촬영 이미지에 대한 프로그램 개선에 대한 제공 동의 등을 목적으로 개인정보를 처리합니다.<br>
                                제6조(처리하는 개인정보의 항목 작성) <br>

                                ① < (설립전 예상명칭)불로장생 >은(는) 다음의 개인정보 항목을 처리하고 있습니다.<br>
                                1< 홈페이지 회원가입 및 관리 ><br>
                                필수항목 : 이메일, 휴대전화번호, 비밀번호, 성별, 생년월일, 직업, 결혼여부<br>
                                선택항목 : 섭취중인 건강기능식품의 이미지<br>
                                2< 재화 또는 서비스 제공 ><br>
                                필수항목 : 이메일, 비밀번호, 성별, 생년월일, 결혼여부, 서비스 이용 기록, 접속 로그, 쿠키<br>
                                선택항목 : 섭취중인 건강기능식품의 이미지<br>
                                3< 마케팅 및 광고에의 활용 ><br>
                                필수항목 : 이메일, 성별, 생년월일, 결혼여부, 서비스 이용 기록<br>
                                선택항목 : <br>
                                4< 기타 ><br>
                                필수항목 : 섭취중인 건강기능식품의 이미지<br>
                                선택항목 : 

                            </div>

                        </p>
                    
                        <p>
                            <div class="terms_box_title">
                                <label>
                                    <input type="checkbox" name="c2" id="c2"> 개인정보 수집 및 이용 동의
                                </label>
                            </div>


                            <div class="terms_box">
                                제2조(개인정보의 처리 및 보유 기간)<br>
                                <br>
                                ① < (설립전 예상명칭)불로장생 >은(는) 법령에 따른 개인정보 보유·이용기간 또는 정보주체로부터 개인정보를 수집 시에 동의받은 개인정보 보유·이용기간 내에서 개인정보를 처리·보유합니다.
                                <br>
                                ② 각각의 개인정보 처리 및 보유 기간은 다음과 같습니다.<br>
                                1.<홈페이지 회원가입 및 관리><br>
                                <홈페이지 회원가입 및 관리>와 관련한 개인정보는 수집.이용에 관한 동의일로부터<서비스종료시>까지 위 이용목적을 위하여 보유.이용됩니다.<br>
                                보유근거 : 개인화 서비스에 대한 사용자 동의<br>
                                관련법령 : <br>
                                예외사유 : <br>
                                2.<재화 또는 서비스 제공><br>
                                <재화 또는 서비스 제공>와 관련한 개인정보는 수집.이용에 관한 동의일로부터<서비스종료시>까지 위 이용목적을 위하여 보유.이용됩니다.<br>
                                보유근거 : 개인화 서비스에 대한 사용자 동의<br>
                                관련법령 : <br>
                                예외사유 : <br>
                                3.<마케팅 및 광고에의 활용><br>
                                <마케팅 및 광고에의 활용>와 관련한 개인정보는 수집.이용에 관한 동의일로부터<1년>까지 위 이용목적을 위하여 보유.이용됩니다.<br>
                                보유근거 : 개인화 서비스에 대한 사용자 동의<br>
                                관련법령 : <br>
                                예외사유 : <br>
                                4.<기타><br>
                                <기타>와 관련한 개인정보는 수집.이용에 관한 동의일로부터<서비스종료시>까지 위 이용목적을 위하여 보유.이용됩니다.<br>
                                보유근거 : 개인화 서비스에 대한 사용자 동의<br>
                                관련법령 : <br>
                                예외사유 : <br>
                                <br>
                                제5조(정보주체와 법정대리인의 권리·의무 및 그 행사방법)<br>
                                <br>
                                <br>
                                ① 정보주체는 (설립전 예상명칭)불로장생에 대해 언제든지 개인정보 열람·정정·삭제·처리정지 요구 등의 권리를 행사할 수 있습니다.<br>
                                ② 제1항에 따른 권리 행사는(설립전 예상명칭)불로장생에 대해 「개인정보 보호법」 시행령 제41조제1항에 따라 서면, 전자우편, 모사전송(FAX) 등을 통하여 하실 수 있으며 (설립전 예상명칭)불로장생은(는) 이에 대해 지체 없이 조치하겠습니다.<br>
                                ③ 제1항에 따른 권리 행사는 정보주체의 법정대리인이나 위임을 받은 자 등 대리인을 통하여 하실 수 있습니다.이 경우 “개인정보 처리 방법에 관한 고시(제2020-7호)” 별지 제11호 서식에 따른 위임장을 제출하셔야 합니다.<br>
                                ④ 개인정보 열람 및 처리정지 요구는 「개인정보 보호법」 제35조 제4항, 제37조 제2항에 의하여 정보주체의 권리가 제한 될 수 있습니다.<br>
                                ⑤ 개인정보의 정정 및 삭제 요구는 다른 법령에서 그 개인정보가 수집 대상으로 명시되어 있는 경우에는 그 삭제를 요구할 수 없습니다.<br>
                                ⑥ (설립전 예상명칭)불로장생은(는) 정보주체 권리에 따른 열람의 요구, 정정·삭제의 요구, 처리정지의 요구 시 열람 등 요구를 한 자가 본인이거나 정당한 대리인인지를 확인합니다.

                            </div>
                                
                            
                        </p>
                    
                        <p>
                            <div class="terms_box_title">
                                <label>
                                    <input type="checkbox" name="c3" id="c3"> 개인정보 제3자제공 및 추가제공 동의
                                </label>
                            </div>
                            <div class="terms_box">
                                제3조(개인정보의 제3자 제공)<br>
                                <br>
                                ① < (설립전 예상명칭)불로장생 >은(는) 개인정보를 제1조(개인정보의 처리 목적)에서 명시한 범위 내에서만 처리하며, 정보주체의 동의, 법률의 특별한 규정 등 「개인정보 보호법」 제17조 및 제18조에 해당하는 경우에만 개인정보를 제3자에게 제공합니다.<br>
                                ②  < (설립전 예상명칭)불로장생 >은(는) 다음과 같이 개인정보를 제3자에게 제공하고 있습니다.<br>
                                1. < ><br>
                                개인정보를 제공받는 자 : <br>
                                제공받는 자의 개인정보 이용목적 : <br>
                                제공받는 자의 보유.이용기간: <br>
                                <br>
                                
                                제4조(개인정보처리 위탁)<br>
                                <br>
                                ① < (설립전 예상명칭)불로장생 >은(는) 원활한 개인정보 업무처리를 위하여 다음과 같이 개인정보 처리업무를 위탁하고 있습니다.<br>
                                1. < 개인화 (ai, 빅데이터) 데이터 처리 ><br>
                                위탁받는 자 (수탁자) : 데이터 개별처리 업체 (개별계약 조건에 한함)<br>
                                위탁하는 업무의 내용 : ai 및 데이터사이언스 처리의 raw 데이터<br>
                                위탁기간 : 서비스종료시<br>
                                ②  < (설립전 예상명칭)불로장생 >은(는) 위탁계약 체결시 「개인정보 보호법」 제26조에 따라 위탁업무 수행목적 외 개인정보 처리금지, 기술적․관리적 보호조치, 재위탁 제한, 수탁자에 대한 관리․감독, 손해배상 등 책임에 관한 사항을 계약서 등 문서에 명시하고, 수탁자가 개인정보를 안전하게 처리하는지를 감독하고 있습니다.<br>
                                ③ 위탁업무의 내용이나 수탁자가 변경될 경우에는 지체없이 본 개인정보 처리방침을 통하여 공개하도록 하겠습니다.<br>
                                <br>
                                제11조(추가적인 이용·제공 판단기준)<br>
                                <br>
                                < (설립전 예상명칭)불로장생 > 은(는) ｢개인정보 보호법｣ 제15조제3항 및 제17조제4항에 따라 ｢개인정보 보호법 시행령｣ 제14조의2에 따른 사항을 고려하여 정보주체의 동의 없이 개인정보를 추가적으로 이용·제공할 수 있습니다.<br>
                                이에 따라 < (설립전 예상명칭)불로장생 > 가(이) 정보주체의 동의 없이 추가적인 이용·제공을 하기 위해서 다음과 같은 사항을 고려하였습니다.<br>
                                ▶ 개인정보를 추가적으로 이용·제공하려는 목적이 당초 수집 목적과 관련성이 있는지 여부<br>
                                ▶ 개인정보를 수집한 정황 또는 처리 관행에 비추어 볼 때 추가적인 이용·제공에 대한 예측 가능성이 있는지 여부<br>
                                ▶ 개인정보의 추가적인 이용·제공이 정보주체의 이익을 부당하게 침해하는지 여부<br>
                                ▶ 가명처리 또는 암호화 등 안전성 확보에 필요한 조치를 하였는지 여부<br>
                                ※ 추가적인 이용·제공 시 고려사항에 대한 판단기준은 사업자/단체 스스로 자율적으로 판단하여 작성·공개함

                            </div>
                                
                            
                        </p>
                    
                        <p>
                            <div class="text_chech">개인정보처리방침 전문 확인</div>
                            <input type="submit" value="동의합니다" class="input_pretty">
                        </p>
                    </form>
                </div>

                <script>


                    var doc = document; 
                    var form1 = doc.getElementById('form1'); 
                    var inputs = form1.getElementsByTagName('INPUT'); 
                    var form1_data = {
                        "c1": false, 
                        "c2": false, 
                        "c3": false
                    }; 
                
                    var c1 = doc.getElementById('c1'); 
                    var c2 = doc.getElementById('c2'); 
                    var c3 = doc.getElementById('c3'); 
                
                    function checkboxListener() {
                        form1_data[this.name] = this.checked; 
                
                        if(this.checked) {
                            // submit 할때 체크하지 않아 색이 변한 font 를 다시 원래 색으로 바꾸는 부분. 
                            this.parentNode.style.color = "#000"; 
                        }
                    }
                
                
                        c1.onclick = c2.onclick = c3.onclick = checkboxListener; 
                
                        var all = doc.getElementById('all'); 
                
                        all.onclick = function() {
                            if (this.checked) {
                                setCheckbox(form1_data, true); 
                            } else {
                                setCheckbox(form1_data, false); 
                            }
                        }; 
                
                
                        function setCheckbox(obj, state) {
                            for (var x in obj) {
                                obj[x] = state; 
                
                                for(var i = 0; i < inputs.length; i++) {
                                    if(inputs[i].type == "checkbox") {
                                        inputs[i].checked = state; 
                                    }
                                }
                
                            }
                        }
                
                    form1.onsubmit = function(e) {
                        e.preventDefault(); // 서브밋 될때 화면이 깜빡이지 않게 방지
                
                        if ( !form1_data['c1'] ) {
                            alert('서비스 이용 약관 동의를 하지 않았습니다'); 
                            return false; 
                        }
                
                        if ( !form1_data['c2'] ) {
                            alert('개인정보 수집 및 이용 동의를 하지 않았습니다.'); 
                            return false; 
                        }

                        if ( !form1_data['c3'] ) {
                            alert('개인정보 제3자제공 및 추가제공 동의를 하지 않았습니다.'); 
                            return false; 
                        }
                
                        this.submit(); 
                    }; 
                </script>

{% endblock %}